<style type="text/css">
  /*ul {
    list-style-type: none;
  }

  li {
    float: left;
  }

    li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }*/

  ul {
    list-style-type: none;
  }

  li {
    color: white;
    float: left;
    padding: 14px 16px;
  }
  .class {
    color: white;
  }
</style>
<div class="menu">
  <ul>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/candidate/create"]'>
        Kandidaten
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/dashboard"]'>
        Dashboard
      </a>
    </li>
  </ul>
</div>
